/*
COLOR PALETTE:
#fffbee : white, fonts, contrast
#8872ad : purple, clickable, interactive
#32558c : blue, secondary clickable, interactive
#163460 : blue, background, addings
#021c33 : dark blue, main background
*/

/*
FONT IMPORTS:
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,500;1,300&display=swap');
*/

/* Global styles START */

* {
    margin:0;
    padding:0;
}

html {
    font-size: 16px;
    background-color: #021C33;
    font-family: 'Newsreader', 'Times New Roman', Times, serif;
}

main {
    display: block;
}

/* Global styles END */

/* Intro-section styles START */

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 28, 51, 0.1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23052543' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23092d53' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%230f3561' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23163d6d' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%231e4579' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23274d83' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%2332558c' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    transform: rotate(180deg);
    z-index: 0;
}

header {
    color: #fffbee;
    position: relative;
    overflow: hidden;
    font-size: 1.6rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .intro {
        position: relative;
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }

        .intro__avatar {
            max-width: 30%;
            height: auto;
            vertical-align: top;
            padding-bottom: 3%;
        }

        .intro__text {
            display: inline-flex;
            flex-flow: column nowrap;
        }

            .text__greeting {
                font-size: 8rem;
                margin-left: 2%;
            }

            .text__introduction {
                margin-left: 5%;
            }

                .introduction__name {
                    font-size: 2.1rem;
                }

                .introduction__name + hr {
                    width: 92%;
                    margin: 0 auto;
                }

                .introduction__job {
                    font-size: 1.7rem;
                    padding-top: 2%;
                    font-weight: 300;
                    font-style: italic;
                }

        .intro__description::first-line {
            text-align: justify;
        }

        .intro__description {
            padding: 3% 0;
            line-height: 1.3;
        }


    .intro__enter-btn {
        background-color: #32558c !important;
        color: #fffbee;
        display: block;
        font-size: 1.4rem;
        margin: 5% auto;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        width: 30%;
    }

@media only screen and (max-width: 890px) {
    .intro {
        width: 60%;
    }

    .text__greeting {
        font-size: 4.3rem;
    }

    .introduction__name {
        font-size: 1.6rem;
    }

    .introduction__job {
        font-size: 1.3rem;
    }

    .intro__description {
        padding: 7% 0;
    }
}

@media only screen and (max-width: 640px) {
    .intro {
        width: 70%;
    }

    .intro__enter-btn {
        font-size: 0.9rem;
        margin: 5% auto;
        padding: 10px 20px;
        width: 30%;
    }
}

@media only screen and (max-width: 478px) {
    .intro {
        width: 80%;
    }

    .intro__description::first-line {
        text-align: center;
    }

    .intro__description {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 410px) {
    .intro {
        width: 88%;
    }

    .text__greeting {
        font-size: 3.1rem;
    }

    .introduction__name {
        font-size: 1.4rem;
    }

    .introduction__job {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 330px) {
    .intro {
        width: 90%;
    }

    .text__greeting {
        font-size: 2.7rem;
    }

    .introduction__name {
        font-size: 1.2rem;
    }

    .introduction__job {
        font-size: 1.1rem;
    }

    .intro__description {
        font-size: 1.3rem;
        padding: 7% 0;
    }

    .intro__enter-btn {
        font-size: 0.8;
    }
}

/* Intro-section styles END */

/* Navbar styles START */

.navigation {
    color: #fffbee;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    border: 8px solid;
    border-right: none;
    border-left: none;
    border-image-source: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(50,85,140,0.04) 50%, rgba(50,85,140,0.28) 60%, rgba(50,85,140, 0.9) 90%);
    border-image-slice: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
}

    .navigation__logo {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        width: inherit;
        max-width: 20%;
        margin: 1% 0 1% 2%;
        min-width: fit-content;
    }

        .logo__name {
            font-size: 2.6rem;
            border-bottom: solid 1px #fffbee;
            margin: 0;
        }

        .logo__job {
            font-size: 1.8rem;
            font-style: italic;
            font-weight: 300;
            padding-top: 1%;
        }

    .navigation__bar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        width: inherit;
        min-width: fit-content;
    }

        .bar__link {
            margin: 0 1%;
            padding: 3% 1%;
            cursor: pointer;
            flex-shrink: 0;
        }

            #icon_home {
                position: relative;
                bottom: 4px;
            }

            #icon_contact {
                position: relative;
                bottom: 2px;
            }

            .link__bar-text {
                text-decoration: none;
                text-transform: uppercase;
                margin: 10px;
                color: #fffbee;
            }

    .navigation__menu-btn {
        margin-right: 2%;
    }

    .navigation__dropdown {
        position: absolute;
        top: 110%;
        right: 0;
        width: 200px;
        border-radius: 1px;
        background: linear-gradient(to right, rgba(50,85,140,0.2), rgba(50,85,140,0.8));
    }

        .dropdown__link {
            padding: 4% 8%;
            margin: 2%;
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }

            .dropdown__link > img {
                flex-shrink: 0;
                margin-left: 10px;
            }

            .link__dropdown-text {
                flex-shrink: 0;
                text-decoration: none;
                text-transform: uppercase;
                color: #fffbee;
            }

@media only screen and (max-width: 1024px) {
    .logo__name {
        font-size: 2.1rem;
    }

    .logo__job {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 768px) {
    .navigation__logo {
        margin-left: 4% ;
    }

    .navigation__bar {
        display: none;
    }

    .navigation__dropdown {
        background: linear-gradient(to right, rgba(50,85,140,0.1), rgba(50,85,140,0.8));
    }

    .navigation__menu-btn {
        display: block !important;
        margin-right: 4%;
    }
}

@media only screen and (max-width: 425px) {
    .navigation__dropdown {
        background: linear-gradient(to right, rgba(50,85,140,0.05), rgba(50,85,140,0.7));
    }

    .logo__name {
        font-size: 1.8rem;
    }

    .logo__job {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 330px) {
    .navigation__logo {
        margin-left: 5% ;
    }

        .logo__name {
            font-size: 1.5rem;
        }

        .logo__job {
            font-size: 1.1rem;
        }

    .navigation__menu-btn {
        margin-right: 5%;
    }
}

/* Navbar styles END */

/* Home section START */

.home {
    position: relative;
    height: 100vh;
    background-color: #021C33;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 20% 100%, 0 90%);
    top: -96px;
    z-index: 400;
}

/* Home section END */

/* Project section START */

.projects {
    position: relative;
    height: 120vh;
    bottom: calc(20vh + 96px);
    background-color: #32558c;
    clip-path: polygon(0 0, 20% 10%, 100% 0, 100% 100%, 70% 90%, 0 100%);
    z-index: 300;
}

/* Project section END */

/* Contact section START */

.contact {
    position: relative;
    height: 80vh;
    bottom: calc(32vh + 96px);
    background-color: #8872ad;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    z-index: 200;
}

/* Contact section END */

/* Modifiers START */

.--none-style {
    background: none;
    border: none;
}

.--icon-img {
    max-width: 30px;
    height: auto;
    object-fit: contain;
}

.--hover-icon {
    filter: brightness(0) saturate(100%) invert(54%) sepia(12%) saturate(1379%) hue-rotate(221deg) brightness(86%) contrast(83%);
}

.--hidden {
    display: none;
}

/* Modifiers END */

/* Particle background START */

.particles-background {
    background-color: #021C33;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -100;
}

/* Particle background END */
